$blue:    #214154;
$white: #ffffff;

$enable-rounded: false;
$enable-deprecation-messages: false;

$body-bg:                   $blue;
$body-color:                $white;
$headings-font-weight: 700;

$link-color:                              $white;
$link-decoration:                         dashed;

$font-family-sans-serif:      "Inter", sans-serif;
$font-family-monospace:       monospace;
