$blue: #214154;
$white: #ffffff;

$enable-rounded: false;
$enable-deprecation-messages: false;

$body-bg: $blue;
$body-color: $white;

$link-color: $white;
$link-decoration: none;

$font-family-sans-serif: "Inter var", sans-serif;
$font-family-monospace: monospace;
