{{- define "main" -}}

{{ $homepage := "Home" }}
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}
{{ if .IsHome }}
<div class="home h-card ">
<div class="row justify-content-center">
  <div class="col-md-3 col-6">
    <img src="/images/avatar.jpg" alt="Mark Sutherland" class="avatar u-photo img-fluid">
  </div>
  <div class="col-md-9">
<h1 class="p-name pt-5 px-0 mx-0">Mark Sutherland</h1>
    <p class="p-note">Web Designer, Developer & Digital Creative</p>
<ul class="nav nav-pills justify-content-center justify-content-md-start">
  <li class="nav-item"><a href="https://marksuth.dev" class="nav-link u-url" rel="me">Web</a></li>
  <li class="nav-item"><a data-hint="Twitter" class="nav-link" href="https://twitter.com/marksuth" rel="noopener">Twitter</a></li>
  <li class="nav-item"><a data-hint="Github" class="nav-link" href="https://github.com/marksuth" rel="me noopener">Github</a></li>
  <li class="nav-item"><a data-hint="Instagram" class="nav-link" href="https://instagram.com/marksuth" rel="me noopener">Instagram</a></li>
  <li class="nav-item"><a data-hint="Linkedin" class="nav-link" href="https://www.linkedin.com/in/marksuth" rel="me noopener">Linkedin</a></li>
  <li class="nav-item"><a data-hint="email" class="nav-link u-email" href="mailto:mark@marksuth.dev">Email</a></li>
</ul>
</div>
</div>
</div>
    {{ end }}
<div class="row justify-content-end">
  <div class="col-md-9">
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <div class="mx-5">
    <a href="{{ .Permalink }}"><h3>{{ .Title | markdownify }}</h3></a>
    {{ $customDateFormat := "2 January 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    <br>
    <small class="text-muted"><i class="fas fa-tags"></i> {{ partial "tags" . }}</small>
    {{ end }}
  </div>
{{ end }}
</div>
</div>
{{- end -}}